@tailwind base;
@tailwind components;
@tailwind utilities;

/* SmartTable.css */

.row-today {
  background-color: white;
}

.row-upcoming {
  background-color: orange;
}

.row-past {
  background-color: red;
}
