@tailwind base;
@tailwind components;
@tailwind utilities;

/* SmartTable.css */

.row-upcoming {
  background-color: white;
}

.row-today {
  background-color: rgb(255, 193, 79);
}

.row-past {
  background-color: rgb(255, 86, 86);
}

.row-done {
  background-color: rgb(77, 255, 77);
}

.row-to-validate {
  background-color: rgb(255, 27, 255);
}